
.companies-list {
    background-color: rgba(0,0,0,0.05);
    padding-top: 20px;
    padding-bottom: 10px;
}
.company.mat-list-item {
    height: auto;
    margin-bottom: 10px;
}
.company-button.mat-button {
    background-color: #fff;
}
.company-img-wrap {
    flex: 0;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.company-img {
    max-width: 100px;
    max-height: 100px;
}
.company-info-col {
    
}