<form [formGroup]="companyForm" class="form f-c" (ngSubmit)="addCompany()">
  <div *ngIf="companyForm.controls.pictureUrl.value" class="company-img-wrap f1 ai-c jc-c">
    <img [src]="companyForm.controls.pictureUrl.value | safeUrl" class="company-img" />
  </div>
  <div class="picture-picker">
    <input #picturePicker type="file" capture="camera" accept="image/*" id="cameraInput" (change)="onPictureSelected($event)">
  </div>
  <mat-form-field class="f1">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="f1">
    <!-- <input matInput placeholder="City" formControlName="city"> -->
    <input matInput placeholder="Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search formControlName="searchControl">
  </mat-form-field>
  <button mat-button type="submit" [disabled]="!companyForm.valid">Add Company</button>
</form>
<agm-map [latitude]="companyForm.controls.latitude.value" [longitude]="companyForm.controls.longitude.value" [scrollwheel]="false" [zoom]="16" class="map-block">
  <agm-marker [latitude]="companyForm.controls.latitude.value" [longitude]="companyForm.controls.longitude.value"></agm-marker>
</agm-map>