.form {
    padding: 20px;
}
.company-img-wrap {
    min-height: 100px;
}
.company-img {
    max-width: 80px;
    max-height: 80px;
}
.picture-picker {
    margin-top: 10px;
    margin-bottom: 20px;
}
.map-block {
    flex: 1;
    height: 200px;
    margin-top: 20px;
}