.page-fullscreen {
    flex: 0;
    height: 100vh;
    overflow: hidden;
}
.page-toolbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}
.page-scroll-wrap {
    position: relative;
    flex: 0;
    height: 100vh;
    overflow: auto;
}
.page-scroll-content {
    padding-top: 50px;
}