/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.f1 {
    display: flex;
    flex: 1;
}
.jc-c {
    display: flex;
    justify-content: center;
}
.jc-sb {
    display: flex;
    justify-content: space-between;
}